<div class="cover skill">
    <div class="cover-inner">
        <div class="cover-top">
			<div class="cover-header">	
				<div class="cover-title"> {{ skill.name }} </div>

				<div class="cover-icon"> 
					{% if skill.svg_path %}
						<img src="{{ skill.svg_path }}" class="cover-icon">
					{% endif %}
					{% if skill.img_path %}
						<img src="{{ skill.img_path }}" class="cover-icon">
					{% endif %}
				</div>
			</div>
            
			<div class="cover-subtitle" style="padding-top: 0" style = "padding-bottom: 0;">
			
				<p>{{ skill.subtitle }}</p>
				<ul>
					{% for description in skill.description %}
						<li>{{ description }}</li>
					{% endfor %}
				</ul>
			
			</div>
			
        </div>
    </div>
</div>